.merchant-config-container[data-v-0c2ad998]{padding:20px}.card-header[data-v-0c2ad998]{display:flex;align-items:center;justify-content:space-between}.merchant-config-form[data-v-0c2ad998]{padding:20px 0}
